In [14]:
import pandas as pd

df = pd.read_csv("cities_in_japan_2023.csv")

In [15]:
df.head()

     id  prefecture_id                city_en city_ja special_district_ja
0  1100              1                Sapporo     札幌市                 NaN
1  1101              1       Chūō-ku, Sapporo     札幌市                 中央区
2  1102              1       Kita-ku, Sapporo     札幌市                  北区
3  1103              1    Higashi-ku, Sapporo     札幌市                  東区
4  1104              1  Shiroishi-ku, Sapporo     札幌市                 白石区

In [17]:
df.isna().sum()

id                        0
prefecture_id             0
city_en                   3
city_ja                   0
special_district_ja    1747
dtype: int64

In [18]:
# Data cleaning: 
# Remove everything after the first comma in city_en (keeping first bit and removing rest)
# Making lowercase, and striping the white space away

raw_cities = df["city_en"].dropna().apply(
    lambda x: x.split(",")[0].split(" ")[0].lower().strip())

raw_cities.head()

0         sapporo
1         chūō-ku
2         kita-ku
3      higashi-ku
4    shiroishi-ku
Name: city_en, dtype: object

In [20]:

raw_cities.to_csv("raw_cities.csv", index=False)